<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../icomoon/style.css">
    <title>Hospital</title>
</head>

<body>
    <div class="container">
        <a href="/">Home</a>
        <h1>Hospital View</h1>
        <h2><span class="icon-office"></span></h2>
        <nav>
                <ul>
                    <li><a href="/hospital/request">Ask for Blood</a></li>
                    <li><a href="/hospital/submitted">View Submitted Requests</a></li>
                </ul>
            </nav>
    </div>
</body>

</html>