<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../icomoon/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <title>Manager</title>
</head>
<body>
    <div class="container">
            <a href="/">Home</a>
            <h1>Manager View</h1>
            <h2><span class="icon-user-tie"></span></h2>
            <nav>
                <ul>
                    <li><a href="/manager/stock">View Stock</a></li>
                    <li><a href="/manager/requests">View Blood Request</a></li>
                    <!-- <li><a href="/manager/employees">View All Employees</a></li> -->
                    <li><a href="/manager/search">Search for an Employee</a></li>
                </ul>
            </nav>
    </div>
<script>
    $(document).ready(function(){
      
    })
</script>
</body>
</html>