<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src='../js/jquery-paginate.js'></script>
    <title>Stock</title>
</head>

<body>
    <div class="container">
        <a href="/">Home / </a>
        <a href="/manager">Manager-View</a>
        <h1>View Stock</h1>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Blood Type</th>
                    <th>Units Available</th>
                </tr>
            </thead>
            <tbody>
                {{#each stocks}}
                <tr>
                    <td>{{bloodType}}</td>
                    <td>{{units}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').paginate({ limit: 5 });
        })

    </script>

</body>

</html>