<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../icomoon/style.css">
    <title>Receptionist</title>
</head>

<body>
    <div class="container">
        <a href="/">Home</a>
        <h1>Hello </h1>
        <h2><span class="icon-user-check"></span></h2>
        <nav>
            <ul>
                <li>
                    <a href="/receptionist/register">Register a Donor</a>
                </li>
                <li>
                    <a href="/receptionist/donors">View Donor Details</a>
                </li>
                <li>
                    <a href="/receptionist/add-donation">Add Donation Details </a>
                </li>
                <li>
                    <a href="/receptionist/previous-donations">Previous Donations </a>
                </li>
            </ul>
        </nav>
    </div>


</body>

</html>